@import 'tailwindcss';

.outfit-base {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-dark-blue: #1a1d30;
  --color-light-blue: #464d77;
  --color-off-white: #fafafa;
}

.skill-item {
  opacity: 0;
  transform: translateY(20px);
}

.animate-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.hero {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1.4s ease-out forwards;
  animation-delay: 150ms;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  cursor: 'pointer';
}
