@import 'tailwindcss';

.outfit-base {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-dark-blue: #1a1d30;
  --color-light-blue: #464d77;
  --color-off-white: #fafafa;
}
