---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
<main class="border-black border-4 p-4 rounded">
  <h1 class="text-3xl font-bold ">
    Hello World
  </h1>
</main>
</Layout>
