---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from '../components/Navigation.astro';
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";
import Skill from "../components/Skill.astro";
import ProjectThumb from "../components/ProjectThumb.astro";

// images

  // skills
import TypeScript from "../assets/typescript.png";
import React from "../assets/React.png";
import TRpc from "../assets/tRPC.png";
import Hono from "../assets/Hono.png";
import Drizzle from "../assets/Drizzle.png";
import Gleam from "../assets/gleam.png";
import Anthropic from "../assets/anthropic.png"
import Mcp from "../assets/mcp.png"
import Solid from "../assets/solid.png"

  // projects
import Arkhet from "../assets/projects/arkhet.png";
import Dmf from "../assets/projects/dmf.png";
import FairShare from "../assets/projects/fairshare.png";
import Harmony from "../assets/projects/Harmony.png";
import Uplink from "../assets/projects/uplink.png"


export type Skill = {
  iconSrc: ImageMetadata; 
  title: string,
  href: string,
}

export type Project = {
  thumbSrc: ImageMetadata,
  title: string,
  description: string,
  status: "active" | "complete" | "archived",
  type: "solo" | "group" | "client",
  timeline: {
    start: string, 
    end?: string,
    duration?: string
  },
  role: string,
  overview: string[],
  technologies: string[],
  features: string[],
  challenges: string[],
  liveLink?: string,
  sourceCode?: string,
}

const skills: Skill[] = [
  {
    title: "TypeScript",
    iconSrc: TypeScript,
    href: "https://www.typescriptlang.org/"
  },
  {
    title: "React",
    iconSrc: React,
    href: "https://react.dev/"
  },
  {
    title: "tRPC",
    iconSrc: TRpc,
    href: "https://trpc.io/"
  },
  {
    title: "Hono",
    iconSrc: Hono,
    href: "https://hono.dev/"
  },
  {
    title: "Drizzle",
    iconSrc: Drizzle,
    href: "https://orm.drizzle.team/"
  },
  {
    title: "Gleam",
    iconSrc: Gleam,
    href: "https://gleam.run/",
  },
  {
    title: "Anthropic API",
    iconSrc: Anthropic,
    href: "https://www.anthropic.com/api",
  },
  {
    title: "MCP",
    iconSrc: Mcp,
    href: "https://modelcontextprotocol.io",
  },
  {
    title: "SolidJS",
    iconSrc: Solid,
    href: "https://www.solidjs.com/",
  },
]

export const projects: Project[] = [
  {
    title: "Arkhet",
    description: "Build, test and validate product ideas in record time.",
    role: "Founding Engineer",
    thumbSrc: Arkhet,
    status: "active",
    type: "client",
    timeline: { start: "Sep 2024" },
    overview: [
    "Arkhet is a platform designed to let you explore and test ideas quickly and easily.",
    "We do this by empowering people to create and innovate by designing wireframes and using generative AI to bring those wireframes to life.",
    "These generated prototypes are designed to be shared, validated and improved.",
    "Through this feedback, we aim to let you bring fragile, innovative ideas into mature products and solutions with real impact."
    ],
    technologies: ["TypeScript", "React", "Anthropic API", "Hono", "Tanstack Query", "tRPC", "Model Context Protocol", "PostgresSQL"],
    features: [
      "Explore ideas in a dedicated, low fidelity wireframing tool",
      "Generate live, fully interactible prototypes in moments",
      "Share generated prototypes with users and get actionable feedback"
    ],
    challenges: [
      "Arkhet aims to bring a simple solution to a complex problem through AI.",
      "In my pursuit to use generative AI to bring ideas to life, I've had to tackle the unique challenge of building non-deterministic systems that generate consistent value.",
      "To help bring consistent value, I've employed technologies like the Model Context Protocol to standardize AI interaction with the world.",
      "I've also used prompting techniques such as chain of thought prompting, the Q Star language model reasoning framework and self consistency.",
      "AI and LLM systems are an emerging field gaining rapid traction in industry as we find innovative solutions to difficult problems.",
      "I'm happy to be a part of this fast paced space and contribute to the future of intelligent, apaptive systems."
    ],
    liveLink: "https://arkhet.com"
  },
  {
    title: "Discover My Franchise",
    description: "Simplify franchise sales with a single, efficient candidate management system.",
    thumbSrc: Dmf,
    role: "Frontend Developer",
    status: "complete",
    type: "client",
    timeline: { start: "Feb 2023", end: "Aug 2024" },
    overview: [
    "Discover My Franchise is a platform designed to empower franchise owners in aquiring, managing and contacting potential franchise candidates.",
    "Franchise owners gain access to an intuitive drag and drop interface where they can create a fully custom experience for their candidates.",
    "Through this platform, franchise owners are able to find better candidates, communicate and collaborate with their sales teams and expand their franchises with efficiency.",
    ],
    technologies: ["React", "Redux", "TypeScript", "React Native", "Expo", "SQLite", "PostgresSQL", "Storybook", "MantineUI"],
    features: [
    "Drag and drop franchise candidate discovery portal",
    "Franchise candidate management, filtering and instant messaging",
    "Platform integrated, smart drip email and SMS notification system",
    ],
    challenges: [
    "Discover My Franchise aims to offer a comprehensive, all in one platform for franchise owners, sales teams and franchise candidates.",
    "These three different users have different needs and require different features sets, greatly increasing the complexity of the platform.",
    "Since a primary feature of the platform is instant communication and data access, everything needs to work seamlessly across all users.",
    "To help tackle this complexity, I took initiative and build a custom Storybook style and component guide to be used across the project",
    "As a result, we could have a more consistent, maintable and composable application, reducing developer time and headaches for users.",
    ],
    liveLink: "https://discovermyfranchise.com"
  },
  {
    title: "Harmony",
    description: "Support your loved ones on an all in one, stress-free caretaking mobile app.",
    thumbSrc: Harmony,
    role: "Full Stack Web Developer",
    status: "complete",
    type: "group",
    timeline: { start: "September 2024", end: "Dec 2024" },
    overview: [
    "Harmony is an AI powered caregiving application and platform designed to make caregiving more accessible and collaborative.",
    "Caretaking teams have access to a shared space where recipient information is stored. They can setup calendar events, check availability and stay up to date with new events.",
    "The application is connected through an AI assistant that has the same abilities a caretaker does. This means creating and modifying data in the app at your request.",
    ],
    technologies: ["SolidJS", "SolidStart", "Anthropic API", "TailwindCSS", "Effect-TS", "Drizzle", "LangGraph"],
    features: [
    "A dedicated journal for tracking events, mood, general notes and eating habits for the recipient, shared with the caretaking team.",
    "A synchronized calendar that allows caretakers to stay synced up with events and availability, making sure no appointment gets missed.",
    "Voice to text and text to voice API's create a conversational assistant with access to all features in the app."
    ],
    challenges: [],
    liveLink: "https://harmony-landing-page-omega.vercel.app/",
    sourceCode: "https://github.com/Vakiyama/harmony",
  },
  {
    title: "FairShare",
    description: "Share, track and split expenses with friends and family on a social finance platform.",
    thumbSrc: FairShare,
    role: "Full Stack Web Developer",
    status: "complete",
    type: "client",
    timeline: { start: "May 2024",  end: "Sep 2024" },
    overview: [
    "FairShare is a social finance platform designed to help friends and family track group expenses with ease.",
    "By creating and inviting friends to groups, spenders can scan receipts to track a shared expense.",
    ],
    technologies: ["HTMX", "Drizzle", "Plaid API", "TypeScript", "Express"],
    features: [],
    challenges: [],
    sourceCode: "https://github.com/JustArmaan/FairShare",
  },
  {
    title: "Uplink",
    description: "Converse and collaborate with an AI chat bot directly from your terminal.",
    thumbSrc: Uplink,
    role: "Independent Developer",
    status: "active",
    type: "client",
    timeline: { start: "February 2024" },
    overview: [
    "Uplink is a terminal user interface designed to let you converse with a chatbot without having to navigate to a terminal.",
    ],
    technologies: ["Gleam", "Gleam Effect", "Anthropic API"],
    features: [],
    challenges: [],
    sourceCode: "https://github.com/Vakiyama/uplink"
  },
] 

---

<Layout>
<Navigation />
<main class="p-4 rounded flex flex-col gap-12 items-center mt-4 sm:mx-10 mx-4">
  <div class="text-center flex flex-col justify-center items-center w-full max-w-[800px]">
    <div class="absolute overflow-hidden w-full h-full pointer-events-none drop-shadow-[0px_-4px_8px_rgba(0,0,0,1)]">
      <div class="absolute lg:w-[120%] w-[120%] lg:h-[400%] h-[100%] border border-white/10 rounded-full top-[45%] -z-10 -left-[10%]" style="clip-path: inset(0 0 50% 0);"/>
    </div>
    <div class="hero drop-shadow-black/1 drop-shadow-xl rotate-[0.00001deg] text-dark-blue z-10 lg:text-5xl text-4xl cursor-hover flex flex-col items-center justify-center bg-off-white rounded-full w-full max-w-[400px] lg:max-w-[500px] aspect-square overflow-hidden bg-linear-180 from-off-white to-100% to-light-blue">
      <h1 class="text-dark-blue drop-shadow-md drop-shadow-black/30  tracking-tighter">
        <b>Vitor Akiyama</b>
      </h1>
      <h2 class="font-bold text-xl sm:text-2xl drop-shadow-md drop-shadow-black/30">Software Developer</h2>
      <p class="text-lg sm:text-xl mt-4 drop-shadow-md drop-shadow-black/30">Based in Vancouver <span class="mx-1 relative top-0.5">·</span> Web Focused</p>

      <div class="flex items-center gap-4 mt-4">
        <a href="https://github.com/Vakiyama/" target="_blank" rel="noopener noreferrer" class="text-dark-blue hover:text-dark-blue transition-colors duration-300" aria-label="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="hover:scale-110 transition-transform duration-300">
            <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
          </svg>
        </a>
        <a href="https://linkedin.com/in/vitor-akiyama/" target="_blank" rel="noopener noreferrer" class="text-dark-blue hover:text-dark-blue transition-colors duration-300" aria-label="LinkedIn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="hover:scale-110 transition-transform duration-300">
            <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
          </svg>
        </a>
      </div>

    </div>
    <div class="py-4 flex gap-4 flex-col mt-8 text-off-white lg:text-lg items-center text-lg max-w-[500px] tracking-wide">
      <p>
      I believe that technology has a limitless potential to enrich and empower our lives.
      </p>
      <p>
       Inspired by this belief, I'm committed to crafting people-focused, ethical digital experiences that leave a lasting impression.
      </p>
      <p>
      I fulfill this commitment by building high-quality, seamless web applications with a laser-sharp focus on usability.
      </p>
      <div class="mt-4 w-[300px]">
        <a href="#projects">
          <Button>
            See My Projects ↓
          </Button>
        </a>
      </div>
    </div>
  </div>
      
  <Section id="skills">
    <h2 class="text-3xl text-off-white font-bold w-full tracking-tight">Skills</h2>
    <div class="mt-4 flex gap-2 flex-col w-full text-off-white text-lg">
      <p>Mistakes happen, but they shouldn't reach the people using what we're building.</p> 
      <p>I rely on tools and technologies that protect users by making correctness a priority.</p>
      <p>This means less bugs and more intentional user experiences.</p>
    </div>

    <div class="grid  sm:grid-cols-3 grid-cols-2 gap-6 w-full mt-10">
      {skills.map((skill, index) => (
        <div class="skill-item opacity-0 translate-y-5 translate-all duration-300 ease-out" data-index={index}>
          <Skill skill={skill}/>
        </div>
      ))}
    </div>
  </Section>

  <Section id="projects">
    <h2 class="text-3xl text-off-white font-bold w-full">
      Projects
    </h2>
    <div class="flex flex-col gap-4 mt-4">
      {projects.map(project => <ProjectThumb project={project} />)}
    </div>
  </Section>
  <Section id="about">
    <h2 class="text-3xl text-off-white font-bold w-full">
      About
    </h2>
    <div class="mt-4 flex flex-col space-y-4 w-full text-off-white">
      <p class="text-lg leading-relaxed">
        I'm Vitor, a software engineer based in Vancouver who loves learning about, exploring and improving technology.
      </p>
      
      <p class="text-base leading-relaxed">
        I'm obsessed with improving my daily workflow and finding better, freer ways to get work done.
      </p>
      
      <p class="text-base leading-relaxed">
      Some of my favorite technologies I use are 
      <a target="_blank" href="https://neovim.io/"><span class="text-blue-300 hover:opacity-80">Neovim</span></a>,
          <a target="_blank" href="https://nixos.org/"><span class="text-blue-300 hover:opacity-80">NixOS</span></a>
          (Linux) and split ergonomic keyboards. Currently rocking a 
          <a target="_blank" href="https://www.zsa.io/voyager"><span class="text-blue-300 hover:opacity-80">ZSA Voyager</span></a>
          as my daily driver.
      </p>
      
      <p class="text-base leading-relaxed">
        When I'm not working with technology, you'll find me practicing electric guitar or bouldering with friends.
      </p>
    </div>
  </Section>
  <Section id="contact">
    <h2 class="text-3xl text-off-white font-bold w-full">
      Contact
    </h2>
    <div class="mt-4 flex flex-col space-y-4 w-full text-off-white">
      <p class="text-lg leading-relaxed">
        Want to get in touch?
      </p>
      <p>Find more of my projects on 
      <a target="_blank" href="https://github.com/Vakiyama/"><span class="text-blue-300 hover:opacity-80">Github</span></a>
        or connect with me on
        <a target="_blank" href="https://linkedin.com/in/vitor-akiyama/"><span class="text-blue-300 hover:opacity-80">LinkedIn</span></a>
        . I'd love to hear from you!
      </p>
    </div>
  </Section>
  <Section>
    <a href={`/projects/${projects[0].title}`}>
    <Button>
      Browse My Projects →
    </Button>
    </a>
    <div class="py-8"/>
  </Section>
</main>
<!-- <footer class="border-1 border-l-0 border-r-0 border-b-0 border-t-off-white/50 py-40 w-full drop-shadow-black drop-shadow-md bg-light-blue">

</footer> -->
</Layout>
