---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from '../components/Navigation.astro';
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";
import Skill from "../components/Skill.astro";

// images

import TypeScript from "../assets/typescript.png";
import React from "../assets/React.png";
import TRpc from "../assets/tRPC.png";
import Hono from "../assets/Hono.png";
import Drizzle from "../assets/Drizzle.png";
import Gleam from "../assets/gleam.png";
import Claude from "../assets/claude.png"
import Mcp from "../assets/mcp.png"
import Solid from "../assets/solid.png"


export type Skill = {
  iconSrc: ImageMetadata; 
  title: string,
  href: string,
}

const skills: Skill[] = [
  {
    title: "TypeScript",
    iconSrc: TypeScript,
    href: "https://www.typescriptlang.org/"
  },
  {
    title: "React",
    iconSrc: React,
    href: "https://react.dev/"
  },
  {
    title: "tRPC",
    iconSrc: TRpc,
    href: "https://trpc.io/"
  },
  {
    title: "Hono",
    iconSrc: Hono,
    href: "https://hono.dev/"
  },
  {
    title: "Drizzle",
    iconSrc: Drizzle,
    href: "https://orm.drizzle.team/"
  },
  {
    title: "Gleam",
    iconSrc: Gleam,
    href: "https://gleam.run/",
  },
  {
    title: "Claude",
    iconSrc: Claude,
    href: "https://www.anthropic.com/api",
  },
  {
    title: "MCP",
    iconSrc: Mcp,
    href: "https://modelcontextprotocol.io",
  },
  {
    title: "SolidJS",
    iconSrc: Solid,
    href: "https://www.solidjs.com/",
  },
]

---

<Layout>
<Navigation />
<main class="p-4 rounded flex flex-col gap-8 items-center mt-4 sm:mx-10 mx-4">
  <div class="text-center flex flex-col justify-center items-center w-full max-w-[800px]">
    <div class="text-[#1a1d30] lg:text-5xl text-4xl cursor-hover flex flex-col items-center justify-center bg-[#FAFAFA] rounded-full w-full max-w-[400px] lg:max-w-[500px] aspect-square overflow-hidden bg-linear-180 from-[#FAFAFA] to-100% to-[#464D77]">
    <div class="absolute overflow-hidden w-full h-full">
      <div class="absolute lg:w-[120%] w-[120%] lg:h-[400%] h-[100%] border border-white/10 rounded-full top-[45%] lg:top-[45%] -z-10 -left-[10%]" style="clip-path: inset(0 0 50% 0);"/>
    </div>
      <h1 class="text-[#1a1d30] drop-shadow-md drop-shadow-black/30  tracking-tighter">
        <b>Vitor Akiyama</b>
      </h1>
      <h2 class="font-bold text-xl sm:text-2xl drop-shadow-md drop-shadow-black/30">Software Developer</h2>
      <p class="text-lg sm:text-xl mt-4 drop-shadow-md drop-shadow-black/30">Based in Vancouver <span class="mx-1 relative top-0.5">·</span> Web Focused</p>
    </div>
    <div class="py-4 flex gap-4 flex-col mt-8 text-[#FAFAFA] lg:text-lg items-center text-lg">
      <p>
      I believe that technology has <b>limitless potential</b> to enrich and empower our lives.
      </p>
      <p>
       Inspired by this belief, I'm committed to crafting <b>people-focused</b>, ethical digital experiences that leave a lasting impression.
      </p>
      <p>
      I fulfill this commitment by building high-quality, seamless web applications with a <b>laser-sharp focus on usability.</b>
      </p>
      <div class="mt-4 w-[300px]">
        <Button>
          See My Projects ↓
        </Button>
      </div>
    </div>
  </div>
  <Section>
    <h2 class="text-3xl text-[#FAFAFA] font-bold w-full tracking-tight">Skills</h2>
    <div class="py-4 flex gap-2 flex-col w-full text-[#FAFAFA] text-lg">
      <p>Mistakes happen, but they shouldn't reach the people using what I build.</p> 
      <p>I rely on tools and technologies that protect users by making correctness a priority.</p>
      <p>This means less bugs and more intentional user experiences.</p>
    </div>
    <div class="grid grid-cols-3 gap-10 w-full mt-8">
      {skills.map(skill => <Skill skill={skill}/>)}
    </div>
  </Section>
  <Section>
    <h2 class="text-3xl text-[#FAFAFA] font-bold w-full">
      Projects
    </h2>
    <div class="bg-[#464D77] border rounded-lg border-white/10 w-full h-[300px]">
    </div>
  </Section>
</main>
</Layout>
