<button class="bg-off-white rounded-lg hover:-translate-y-0.5 transition-all cursor-pointer w-fit px-8 rotate-[0.000001deg] drop-shadow drop-shadow-black/20 ease-out duration-300">
  <p class="text-dark-blue py-3 text-xl font-bold ">
    <slot />
  </p>
</button>
