---
import NavItem from "./NavItem.astro";

---

<nav class="py-4">
  <ul class="flex flex-row items-center justify-center md:gap-8 gap-4 text-off-white text-xl md:text-2xl">
    <NavItem href="/" title="Home" />
    <NavItem href="/#skills" title="Skills" />
    <NavItem href="/#projects" title="Projects" />
    <NavItem href="/#about" title="About" />
  </ul>
</nav>
