<nav class="py-4">
  <ul class="flex flex-row items-center justify-center gap-8 text-[#FAFAFA] text-xl">
    <li class="font-bold">Home</li>
    <li class="font-bold">About</li>
    <li class="font-bold">Projects</li>
  </ul>
</nav>
