---
import NavItem from "./NavItem.astro";

---

<nav class="py-4">
  <ul class="flex flex-row items-center justify-center lg:gap-20 md:gap-12 gap-4 text-off-white sm:text-xl text-large md:text-2xl">
    <NavItem href="/" title="Home" />
    <NavItem href="/#skills" title="Skills" />
    <NavItem href="/#projects" title="Projects" />
    <NavItem href="/#about" title="About" />
    <NavItem href="/#contact" title="Contact" />
  </ul>
</nav>
